{% load loader_tag %}
<p class="stem" name="stem" id="stem_id">{{stem}}</p>
{% if rubric %}
    {% for rub in rubric %}
        <table style="width:100%">
            <thead>{{ forloop.counter }}.  {{ ans_type|index:forloop.counter0 }}</thead>
            <tr>
                <th>选项/答案</th>
                <th>分值（%）</th>
                <th>反馈</th>
            </tr>
            {% for r in rub %}
                <tr>
                    <th>{{ r.1 }}</th>
                    <th>{{ r.2 }}</th>
                    <th>{{ r.3 }}</th>
                </tr>
            {% endfor %}
        </table>
    {% endfor%}
{% else %}
    <p>No answers are available.</p>
{%endif%}